.actionIcon {
  cursor: pointer;
}

.tableCellControls {
  white-space: pre;
  text-align: right !important;
}

.secondaryTableCell {
  padding-top: 4px !important;
  font-size: 0.8em;
  font-style: italic;
}
