.actionIcon {
  cursor: pointer;
}

.tableCellControls {
  white-space: pre;
  text-align: right;
}

.secondaryTableCell {
  padding-top: 4px;
  font-size: 0.8em;
  font-style: italic;
}

.menuOverflow {
  overflow-y: scroll;
  max-height: min(500px, 100vh);
}
