.dashboard {
  font-family: "Rubik-ExtraBold, Rubik", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 3mm;

  border: 1mm solid black;
  display: block;
  width: auto;
  padding: 1mm 2mm;

  display: flex;
  flex-direction: column;
  gap: 2mm;
  break-inside: avoid;
  page-break-inside: avoid;
}

.dashboard + .dashboard {
  margin-top: 2mm;
}

.marker {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  flex: 1;
}
.marker svg {
  stroke-width: 0.5mm;
  width: auto;
  height: 5mm;
}
.marker[data-mt-10="true"] svg {
  stroke-width: 1mm;
  width: 4mm;
  height: 4mm;
}
.marker[data-variant="ammo"] {
    gap: 1mm;
    justify-content: flex-end;
}

.skills {
  border: 1mm solid black;
  flex: 1;
  padding: 1mm;
  font-size: 3mm;
  list-style: none;
  margin: 0;
}

.gearValue {
  font-size: 10mm;
}

.diceSlot {
  width: 2cm;
  height: 2cm;
  border: 1mm solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5mm;
  white-space: nowrap;
  padding: 1mm;
  flex-shrink: 0;
}

.row {
  display: flex;
  gap: 2mm;
  justify-content: space-between;
}

.rowLeft {
  composes: row;
  justify-content: flex-start;
}
.rowRight {
  composes: row;
  justify-content: flex-end;
}

.name {
  border-bottom: 1mm dashed black;
  font-size: 5.5mm;
  text-transform: uppercase;
}
.typeName {
  font-size: 4mm;
}

.weight {
  font-size: 3mm;
}

.weapon {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.weaponMeta {
  display: flex;
  justify-content: space-between;
}

.dice {
  font-size: 2.5mm;
  text-align: right;
  display: inline;
}

.table {
  font-size: 2.5mm;
  border-collapse: collapse;
}

.table table,
.table th,
.table td {
  border: 1mm solid;
}

.table td {
  text-align: center;
  vertical-align: middle;
  padding: 1mm;
}

.table .secondaryTableCell {
  text-align: left;
}
