.dashboard {
  font-family: "Rubik-ExtraBold, Rubik", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 3mm;

  border: 1mm solid black;
  display: block;
  width: auto;
  padding: 1mm 2mm;

  display: flex;
  flex-direction: column;
  gap: 2mm;
  break-inside: avoid;
  page-break-inside: avoid;
}

.dashboard + .dashboard {
  margin-top: 2mm;
}

.marker {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  flex: 1;
}
.marker svg {
  stroke-width: 0.5mm;
  width: auto;
  height: 5mm;
}
.marker[data-mt-10="true"] svg {
  stroke-width: 1mm;
  width: 4mm;
  height: 4mm;
}
.marker[data-variant="ammo"] {
    gap: 1mm;
    justify-content: flex-end;
}

.marker[data-variant="common"] {
  display: inline-block;
}

.skills {
  border: 1mm solid black;
  flex: 1;
  padding: 1mm;
  font-size: 3mm;
  list-style: none;
  margin: 0;
}

.gearValue {
  font-size: 10mm;
}

.diceSlot {
  width: 2cm;
  height: 2cm;
  border: 1mm solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5mm;
  white-space: nowrap;
  padding: 1mm;
  flex-shrink: 0;
}

.row {
  display: flex;
  gap: 2mm;
  justify-content: space-between;
}

.rowLeft {
  composes: row;
  justify-content: flex-start;
}
.rowRight {
  composes: row;
  justify-content: flex-end;
}

.name {
  border-bottom: 1mm dashed black;
  font-size: 5.5mm;
  text-transform: uppercase;
}
.typeName {
  font-size: 4mm;
}

.weight {
  font-size: 3mm;
}

.weapon {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.weaponMeta {
  display: flex;
  justify-content: space-between;
}

.dice {
  font-size: 2.5mm;
  text-align: right;
  display: inline;
}

.table {
  font-size: 2.5mm;
  border-collapse: collapse;
}

.table table,
.table th,
.table td {
  border: 1mm solid;
}

.table td {
  text-align: center;
  padding: 1mm;
}

.table td:first-child {
  text-align: left;
}

.table .secondaryTableCell {
  font-size: 2mm;
}

.textDetails {
  text-align: left;
  padding: 0.1mm 2mm;
}

.ammo {
  text-align: right;
  flex-shrink: 0;
  flex-grow: 1;
}

.details {
  display: flex;
}

.specialRules {
  font-size: 1.5mm;
  text-align: right;
}

.upgradesList {
  list-style: none;
  padding: 1mm 0 0 1mm;
  margin: 0;
  font-size: 2.5mm;
}

.upgradesList li {
  display: inline-block;
  display: inline-flex;
  gap: 1mm;
  height: 7mm;
  margin-top: -1mm;
  margin-left: -1mm;
  border: 1mm solid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 1mm;
}

.box {
  width: 3mm;
  height: 3mm;
  display: inline-block;
  border: 0.6mm solid black;
}