.printList {
    /* display: flex;
    gap: 5mm;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row; */
    column-gap: 2mm;
    columns: 8.70cm auto;
}

.qr {
    margin-left: auto;
    margin: 5mm 3mm;
}

.name {
    font-family:'Rubik-ExtraBold, Rubik', sans-serif;
    font-weight:800;
    text-transform: uppercase;
}
