.printList {
    display: flex;
    gap: 5mm;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

.qr {
    margin-left: auto;
    margin-top: 5mm;
}

.name {
    font-family:'Rubik-ExtraBold, Rubik', sans-serif;
    font-weight:800;
    text-transform: uppercase;
}
