.wrapper {
}

.header {
  color: #fff;
  background: #333;
  overflow: hidden;
}

.main {
  max-width: 720px;
  margin: 2em auto;
}

.controls {
  padding: 1em 0;
}

.vehiclesContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
