@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
button {
  margin: 0;
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#__next {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bp4-dark {
  background-color: #383e47;
}
